{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 47.21610306606424,
        "longitude": -1.5335100889205933,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Europe/Paris",
        "external_url": null,
        "internal_url": null
    }
}